// normalize html default style

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "苹方", "STHei", "华文黑体", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif; 
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}