

// Fonts

$font-family-base: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "苹方", "STHei", "华文黑体", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif; 

$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;

$font-weight-ligth: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;